= form_for @run do |f|
  - if @run.errors.any?
    #error_explanation
      %h2= 'Could not start because:'
      %ul
        - @run.errors.full_messages.each do |msg|
          %li= msg
  .actions
    = f.submit "Let's go"
