%h1= 'You are on the run. There is an obstacle.'

%p
  = @obstacle.question
%ul
- @obstacle.options.each do |option|
  %li= button_to option, 'jump', {params: {id: @run.id, choice: option.to_s}}

%p
  = link_to 'Chicken wants to go home', '/'
